# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode/*
!/.vscode/extensions.json
/coverage
/dist
/node_modules
/platforms
/plugins
/www

ios/App/build
ios/App/Pods
ios/App/output
ios/App/App/public
ios/DerivedData
ios/xcuserdata

# Cordova plugins for Capacitor
ios/capacitor-cordova-ios-plugins

# Generated Config files
ios/App/App/capacitor.config.json
ios/App/App/config.xml